{% extends "blog/base.html" %}
{% load static %}
{% block content %}
{% if message %}
<div class="alert alert-secondary" role="alert">
  {{message}}
</div>
{% endif %}
<div class="jumbotron mt-3 shadow-lg">
<article class="media content-section shadow ">
   <a href="{{ post.author.profile.image.url }} " target="_blank"> <img src="{{ post.author.profile.image.url }}  " alt="" class="article-img rounded-circle img-thumbnail img-fluid">
   </a>
    <div class="media-body">
      <div class="">
        <div class="d-flex justify-content-between">
        <a class="mr-2 mt-0 mb-0  text-dark" href="{% url 'user-posts' post.author.username  %}"><h3>{{ post.author }}</h3></a>
        <small class="text-muted  text-align-right">{{ post.date_posted }}</small>
        </div>
        <div class="form-group mt-0 pt-0 d-flex justify-content-end"> 
            {% if post.status == 'A' %}
            <button class="btn btn-danger btn-sm mt-1 mb-1 mr-1 flex-last" data-toggle="modal" data-target="#blockForm"> Block </button>
            {% elif post.status == 'F' %}
            <a class="btn btn-success btn-sm mt-1 mb-1 mr-1 flex-last" href="{% url 'request-approve' post.id %}"> Unblock </a>
            {% endif %}
            <button class="btn btn-success btn-sm mt-1 mb-1 flex-last" data-toggle="modal" data-target="#deleteForm"> Remove all reports </button>
          </div>
        <hr>
        <div class="alert alert-danger" role="alert">
        {% if reports %}
          {% for report in reports %}
              <div>Reported by {{ report.reporter }} for containing {{ report.label }} material</div>
          {% endfor %}
          {% if is_paginated %}
          <div class="d-flex justify-content-end"> 
            {% if page_obj.has_previous %}
              <a class="btn btn-light mr-1 flex-last" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-solid fa-angle-left"></i></a>
            {% endif %}
            {% if page_obj.has_next %}
              <a class="btn btn-light flex-last" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-solid fa-angle-right"></i></a>
            {% endif %}
          </div>
          {% endif %}
        {% else %}
            No report found
        {% endif %}
        </div>
      </div>
      <div>
        {% if post.file %}
          {% if post.extension == '.jpg' or post.extension == 'jpeg' or post.extension == 'png' %}
            <a href="{{ post.file.url }}"  download ><img src="{{ post.file.url }}" alt="" class="img-fluid "></a>
            <a href="{{ post.file.url }}"  download class="text-dark"><h5>{{ post.file }}</h5></a>
          {% elif post.extension == '.mp4' %}
            <div class="embed-responsive embed-responsive-16by9">
              <video id="video-1_html_api" class="vjs-tech" preload="auto" autoplay controls>
                <source src="{{ post.file.url }}" type="video/mp4" class="embed-responsive">
              </video>
            </div>
            <a href="{{ post.file.url }}"  download class="text-dark"><h5>{{ post.file }}</h5></a>
          {% else %}
            <a href="{{ post.file.url }}"  download class="text-dark"><h5>{{ post.file }}</h5></a>
          {% endif %}
        {% endif %}
      </div>
      <h2>{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>

  <!-- Modal Block Video-->
  <div class="modal fade" id="blockForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel1">Choose video label</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container ">
            <!-- custom radio button -->
            <div class="holder">
                <div class="row mb-1">
                <div class="col">
                </div>
            </div>
                <form action="{% url 'request-reject' post.id %}" class="customRadio customCheckbox m-0 p-0" id="labelForm1" method="POST">
                  {% csrf_token %}
                <div class="row mb-0">
                <div class="row justify-content-start">
                    <div class="col-12">
                    <div class="form-check">
                        <input type="radio" name="label" id="hentai" class="form-check-input" value="hentai" required>
                        <label for="hentai" class="form-check-label">Hentai: Animation containing sexually explicit images and plots</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" name="label" id="sexy" class="form-check-input" value="sexy">
                        <label for="sexy" class="form-check-label">Sexy: Revealing images</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" name="label" id="porn" class="form-check-input" value="porn">
                      <label for="porn" class="form-check-label">Porn: Sexually explicit images</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" name="label" id="other" class="form-check-input" value="other">
                      <label for="other" class="form-check-label">Other</label>
                    </div>
                    </div>
                </div>
                </div> 
                </form>
            </div>  
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" form="labelForm1">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete Report Video-->
  <div class="modal fade" id="deleteForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel1">Are you sure you want to delete all reports of this post?</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <form action="{% url 'report-delete' post.id %}" id="confirmForm">
            {% csrf_token %}
          </form>
        <button type="submit" class="btn btn-primary" form="confirmForm">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
